body {
    background-color: rgb(3, 49, 31);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  main {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  h2 {
    margin-top: 30px;
  }
  